body{
    background-color: blueviolet;
}
img{
    width: 500px;
    height: 500px;
}
h1{
    color: rgb(253, 6, 6);
    font-size: 45px;
}
p{
    color: rgb(24, 201, 180);
    font-size: 25px;
}